# ignore files too big
dataframes/all_stan_df.pickle
dataframes/allPreprocessedDf.pickle
dataframes/allPreProcessedFinal.pickle
dataframes/final_stan_df.pickle
dataframes/stan_limited_testdf.pickle

# Embeddings will be calculated in notebooks
embeddings/

# Models will be finetuned in notebook
models/robbert-v2-dutch-base-mqa-wastan-finetuned-final/

models/robbert-v2-dutch-base-wastan-finetuned/

models/allTfidfContentMatrix.pickle
